html {
    font-style: normal; 
    font-family: Poiret One; 
    background-color: rgb(92, 70, 156) !important;
}
/*start nav bar styling*/
/* 10/30 make nav bar persistent w/more styling*/

a:link {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(147, 149, 149);
    text-decoration: none;
}

a:hover {
    color: rgb(110, 153, 226);
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: rgb(12, 19, 79);
    border: 5px solid rgb(212, 173, 252);
    border-radius: 15px;
    
}

li {
    display: inline;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    border-right: 4px solid rgb(212, 173, 252);
    padding: 10px;
}


/*End nav bar styling*/
/*Begin Index/Home page styling*/

.name {
    background-color: rgb(0, 0, 0, 0.9);
    text-align: center;
    color: white;
    font-size: 40px;
    border: 5px solid #f1f1f1;
    border-radius: 50px;
    border-color: rgb(92, 70, 156);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#name {
    font-size: 1.75em;
    font-weight: bold;
}

#titles {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

#img1 {
    width: 1350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 6px solid;
    border-radius: 50px;
    border-color: rgb(212, 173, 252);
}

#quote {
    text-align: center;
    font-size: 40px;
}
/*End Index/Home page styling*/ 

/* About page styling begins*/

h1 {
    display: block;
    color: white;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
} 

.container1 {
    align-items:center;
    display: flex;
    width: auto;
    padding-left:5%;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 5px;
    border: 6px solid rgb(212, 173, 252);
    border-radius: 50px;
    background-color: rgb(41, 50, 134);
}

.container2 {
    align-items:center;
    display: flex;
    width: auto;
    padding-left:5%;
    margin-top: 10px;
    grid-template-columns: 1fr 2fr 1fr;
    column-gap: 5px;
    border: 6px solid rgb(212, 173, 252);
    border-radius: 50px;
    background-color: rgb(41, 50, 134);
}
.imgbox {
    flex: 25%;
    padding: 5px;
}

#img2 {
    width: 475px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#img3 {
    width: 275px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#img4 {
    width: 475px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#img7 {
    width: 275px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#img2text {
    font-size: 20px;
}

#img3text {
    font-size: 20px;
}

p {
    direction: ltr;
    color: white;
    display: block;
    text-align: left;
    margin-left: 20px;
}

/*About styling ends*/

/*Portfolio styling begins*/

h3 {
    color: white;
    font-size: 30px;
    margin-left: 10px;  
   }
   
    .project {
       display: block;
       align-items: center;
       justify-content: center;
       border: 6px solid;
       border-radius: 50px;
       border-color: rgb(212, 173, 252);
       margin-top: 10px;
       margin-bottom: 10px;
       background-color: rgb(41, 50, 134);
   }
   
   .filler {
       display: flex;
       align-items: center;
       font-size: 25px;
       justify-content: center;
       margin-bottom: 20px;
       margin-left: 10px;
   }
   
#img5 {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#img6 {
    width: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

/*Portfolio styling ends*/

/*Contact styling begins*/

.cform {
    border: 6px solid rgb(212, 173, 252);
    border-radius: 50px;
    font-size: 30px;
    font-weight:bolder;
    color: rgb(12, 19, 79);
    background-color: rgb(212, 173, 252);
    text-align: center;
    height: auto;
    width: auto;
    padding: 10px;
    margin: auto;
}
input [type=text] {
    width: 50%;
    border: none;
}

#querybox {
    height: 300px;
    width: 600px;
    margin-top: 20px;
}

.submit_button {
    background-color: rgb(182, 164, 219);
    align-content: center;
    margin: auto;
}
